.App {
  text-align: center;
}

.App-logo {
    height: 100px;
    /*border: 10px solid red;*/
}

.img_container{
    margin-left:10px;
    margin-top:10px;
}

.screenHolder {
    background-color: orangered;
    padding: 20px;
    background-repeat: no-repeat;
    background-size:cover;
}

